%br

.templates
  %button.btn.btn-success 1
  %button.btn 4
  %button.btn 9
  %button.btn 16

- Camera.all.in_groups_of(4, false) do |line|
  .row-fluid.cameras
    - line.each do |camera|
      .span3.camera
        = link_to '#', class: 'camera-btn', data: { camera_id: camera.id } do
          %div
            = image_tag "/storage/#{camera.code}/screenshot.png?#{Time.now.to_i}"
            = camera.about

%br
= link_to 'Просмотр', '#', class: 'btn btn-success watch', data: { url: watch_cameras_path }
