- model_class = Camera
.page-header
  %h1 Камеры
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:code)
      %th= model_class.human_attribute_name(:url)
      %th= model_class.human_attribute_name(:about)
      %th Действия
  %tbody
    - @cameras.order(:id).each do |camera|
      %tr
        %td= link_to camera.id, camera
        %td= link_to camera.code, camera
        %td= camera.url
        %td= camera.about
        %td
          = link_to 'Редактировать', edit_camera_path(camera), class: 'btn btn-mini'
          = link_to 'Удалить', camera_path(camera), :method => :delete, confirm: 'Удалить?', class: 'btn btn-mini btn-danger'

= link_to 'Добавить', new_camera_path, class: 'btn btn-primary'
