- model_class = Camera
.page-header
  %h1=t '.title', :default => model_class.model_name.human

%p
  %strong= model_class.human_attribute_name(:code) + ':'
  %br
  = @camera.code
%p
  %strong= model_class.human_attribute_name(:url) + ':'
  %br
  = @camera.url
%p
  %strong= model_class.human_attribute_name(:about) + ':'
  %br
  = @camera.about
%p
  %strong= model_class.human_attribute_name(:analize_frames) + ':'
  %br
  = @camera.analize_frames
%p
  %strong= model_class.human_attribute_name(:threshold) + ':'
  %br
  = @camera.threshold
%p
  %strong= model_class.human_attribute_name(:motion_delay) + ':'
  %br
  = @camera.motion_delay

- if @cam_info
  %p
    %strong Разрешение
    %br
    #{@cam_info['width']}x#{@cam_info['height']}
  %p
    %strong Частота кадров
    %br
    = sprintf("%g", @cam_info['fps_num'].to_f / @cam_info['fps_den'])
  %p
    %strong Кодек
    %br
    = @cam_info['codec']


.form-actions
  = link_to 'Назад', cameras_path, class: 'btn'
